# GITHUB TOKEN (Personal Access Token)
# Gere um aqui: https://github.com/settings/tokens (Permissão 'repo' completa)
GITHUB_TOKEN=ghp_seu_token_aqui

# CONFIGURAÇÕES DO REPOSITÓRIO
GITHUB_OWNER=arkandragons
GITHUB_REPO=Arkan-Updates
GITHUB_RELEASE_TAG=v1.0.0-assets
