# Configurações do Sistema e Segredo
.env
node_modules/
.DS_Store
Thumbs.db
.puzzle_cache
journeymap/cache
logs/
backups/
config/nexars-drakoria-id-cache/
config/worldedit/sessions/
config/.puzzle_cache/
config/bclib/cache.json
config/voicechat/username-cache.json
data/servers_playtime.dat
*.bak

# Manifestos e Scripts (Esses devem ser commitados!)
#!manifest-standard.json
#!manifest-low.json

# ARQUIVOS GRANDES (>99MB)
mods/arkans-physics-mod-1.1.jar
