# Configurações do Sistema e Segredo
.env
node_modules/
.DS_Store
Thumbs.db
.puzzle_cache
journeymap/cache
logs/
backups/

# Manifestos e Scripts (Esses devem ser commitados!)
#!manifest-standard.json
#!manifest-low.json

# ARQUIVOS GRANDES (>99MB)
mods/arkans-physics-mod-1.1.jar